<app-navbar></app-navbar>

<div class="bg-list">
    <!-- Tabela que vai buscar os produtos no banco -->
    <div class="product-container" id="telaProduto">
        <div class="product-subcontainer">
            <table class="table" id="tabela">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Preço (R$)</th>
                        <th>Qtd.</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td> {{ product._id }} </td>
                        <td> {{ product.title }} </td>
                        <td> {{ product.description }} </td>
                        <td> {{ product.price | currency:'BRL':'symbol':'1.2-2' }} </td>
                        <td> {{ product.qtd_stock}} </td>
                        <td> <a type="submit" class="bi bi-trash-fill" id="icon"
                                (click)="openmodalDeleteProduct(product._id,product.title)"></a> </td>
                        <td> <a type="submit" class="bi bi-pen-fill" id="icon"></a> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-primary my-2 my-sm-0" type="submit" id="buttonCreate"
        (click)="openModalCreateProduct()">Criar Produto</button>
</div>

<!-- Modal da criação de produtos -->
<div class="modal fade" id="modalCreateProduct" tabindex="-1" aria-labelledby="modalCreateProduct" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalCreateProduct">Criar Produto</h1>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="createNewProduct()">

                    <label for="title">Nome</label>
                    <input type="text" id="title" [(ngModel)]="title" name="title" placeholder="nome" required>

                    <label for="descricao">Descrição</label>
                    <input type="text" id="descricao" [(ngModel)]="description" name="descricao" placeholder="descricao"
                        required>

                    <label for="department">Departamento</label>
                    <input type="text" id="department" [(ngModel)]="department" name="department"
                        placeholder="Departamento" required>

                    <label for="brand">Marca</label>
                    <input type="text" id="brand" [(ngModel)]="brand" name="brand" placeholder="Marca" required>

                    <label for="valor">Valor</label>
                    <input type="number" id="valor" [(ngModel)]="price" name="price" placeholder="valor" required>

                    <label for="qtd_stock">Quantidade em estoque</label>
                    <input type="number" id="qtd_stock" [(ngModel)]="qtd_stock" name="qtd_stock"
                        placeholder="Quantidade" required>

                    <label for="bar_codes">Código de Barras</label>
                    <input type="string" id="valor" [(ngModel)]="bar_codes" name="bar_codes" placeholder="Código"
                        required>
                    <div id="buttonFormDelete">
                        <button id="fechar" type="button" class="btn btn-tertiary" data-bs-dismiss="modal"
                            (click)="realizarRefresh()">Fechar</button>
                        <button type="submit" class="btn btn-primary" (click)="realizarRefresh()">Salvar</button>
                        <button id="csvButton" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="openModalCreateProductByCSV()">Criar por CSV</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para deletar produtos -->
<div class="modal fade" id="modalDeleteProduct" tabindex="-1" aria-labelledby="modalDeleteProduct" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="openmodalDeleteProduct">Confirme se deseja deletar o seguinte produto
                </h1>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="deleteProduct(idSelecionado)">Analise os dados abaixo
                    <table class="table" id="tabela">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> {{ idSelecionado }} </td>
                                <td> {{ titleSelecionado }} </td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="buttonFormDelete">
                        <button id="fechar" type="button" class="btn btn-tertiary" data-bs-dismiss="modal"
                            (click)="realizarRefresh()">Cancelar</button>
                        <button type="submit" class="btn btn-primary" (click)="realizarRefresh()">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal para Criar pro CSV -->
<div class="modal fade" id="modalCreateByCSV" tabindex="-1" aria-labelledby="modalCreateByCSV" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="openmodalDeleteProduct">Envie abaixo seu arquivo CSV
                </h1>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <input type="file" id="formFile" class="form-control" (change)="onFileSelected($event)">
                <button class="btn btn-primary" (click)="uploadFile()">Upload</button>
              </div>

            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>
