body {
  margin: 0;
  padding: 0;
  display: flex;

  justify-content: top;
  height: 100vh; /* Isso garante que a div permaneça no centro vertical mesmo quando a página é rolada. */
}
button{
  position: fixed;
  right: 20px;
  bottom: 48px;
}
