<!-- product-list.component.html -->
<body>
  <div class="product-container" id="telaProduto">
    <table class="table" id="tabela">
      <thead>
        <tr>
          <th>Título</th>
          <th>Produto</th>
          <th>Preço</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td> {{ product.title }} </td>
          <td> {{ product.description }} </td>
          <td> {{ product.price}} </td>
          <td> <a>Apagar</a> </td>
          <td> <a>Editar</a> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-success my-2 my-sm-0" type="submit" (click)="openModal()">Criar Produto</button>
</body>

<div class="modal fade" id="modalCreateProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalCreateProduct">Criar Produto</h1>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="createNewProduct()">

          <label for="title">Nome</label>
          <input type="text" id="title" [(ngModel)]="title" name="title" placeholder="nome" required>

          <label for="descricao">Descrição</label>
          <input type="text" id="descricao" [(ngModel)]="description" name="descricao" placeholder="descricao" required>

          <label for="department">Departamento</label>
          <input type="text" id="department" [(ngModel)]="department" name="department" placeholder="Departamento" required>

          <label for="brand">Marca</label>
          <input type="text" id="brand" [(ngModel)]="brand" name="brand" placeholder="Marca" required>

          <label for="valor">Valor</label>
          <input type="number" id="valor" [(ngModel)]="price" name="price" placeholder="valor" required>

          <label for="qtd_stock">Quantidade em estoque</label>
          <input type="number" id="qtd_stock" [(ngModel)]="qtd_stock" name="qtd_stock" placeholder="Quantidade" required>

          <label for="bar_codes">Código de Barras</label>
          <input type="string" id="valor" [(ngModel)]="bar_codes" name="bar_codes" placeholder="Código" required>

          <button id="fechar" type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="realizarRefresh()" (click)="doSomething()">Fechar</button>
          <button type="submit" class="btn btn-primary" (click)="realizarRefresh()">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>
