<body>
      <div class="product-container" id="telaProduto">
        <table class="table" id="tabela">
          <thead>
            <tr>
              <th>Id</th>
              <th>email</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of users">
              <td> {{ i._id }} </td>
              <td> {{ i.email }} </td>
              <td> <a type="submit" class="bi bi-pen-fill" id="icon"></a> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </body>
