<div *ngIf="products.length > 0">
    <h2>Tabela de Produtos</h2>
    <table>
      <thead>
        <tr>
          <th>Título</th>
          <th>Descrição</th>
          <th>Departamento</th>
          <th>Marca</th>
          <th>Preço</th>
          <th>Quantidade em Estoque</th>
          <th>Códigos de Barras</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.title }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.department }}</td>
          <td>{{ product.brand }}</td>
          <td>{{ product.price}}</td>
          <td>{{ product.qtd_stock }}</td>
          <td>{{ product.bar_codes }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="products.length === 0">
    <p>Nenhum produto encontrado.</p>
  </div>