<!-- product-list.component.html -->
<body>
  <div class="product-container" id="telaProduto">
    <table class="table" id="tabela">
      <thead>
        <tr>
          <th>Id</th>
          <th>Produto</th>
          <th>Preço</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product._id }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price}}</td>
          <td><a href="#">Apagar</a></td>
          <td><a href="#">Editar</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-success my-2 my-sm-0" type="submit">Criar Produto</button>
</body>
